<!DOCTYPE html>
<% include partials/header.ejs %>
    <div class="top article">
        <section class="container">
            
                <div class="top">
                    <div class="title-img">
                        <h2><%=ad.title%></h2>
                        <div class="picture-an-div">
                            <img class="picture-an" src="/uploads/<%=ad.photo%>" alt="">
                        </div>
                    </div>
                    <div>
                        <p><%=ad.username%></p>
                        <p><%=ad.city%></p> 
                        <p><%=ad.price%></p> 
                    </div>
                    <div>
                        <p>Description:</p>
                    </div>
                    <p><%=ad.city%></p>
                    <%if (auth){%>
                
                        <%if (ad.id_user === user){%>
                        <a href="/annonce/<%=id%>/edit"><button>Modifier</button></a>
                
                        <form action="/annonce/<%=id%>/delete" method="POST">
                            <button>Supprimer</button>
                        </form>
                        <%} %>
                    <% }  %>
                       
                    <a href="/">Retour aux annonces</a>
                </div>   
            
        </section>
    </div>    
</body>
</html>