<!DOCTYPE html>
<% include partials/header.ejs %>

<section>
    <div class="top">
        <%=ad.title%>
        <%=ad.city%>
        <%=ad.price%>
        <img src="/uploads/<%=ad.photo%>" alt="">
        <form action="/annonce/<%=id%>/delete" method="POST">
            <button>Supprimer</button>
        </form>
        
        
    </div>
   </section>
    
</body>
</html>