<% include partials/header.ejs %>
<section class="container">
        <div class="top top-home">
            
            <div class="row row-home ">
                <% for (var i = 0; i < ads.length; i++) {%>
                
                <div class="col-4 d-flex justify-content-center">
                    <img class="photo " src="/uploads/<%=ads[i].photo%>" alt="">
                        
                </div>
                <div class="col-8 d-flex flex-column">
                    <a class="title" href="/annonce/<%=ads[i].id%>"><%=ads[i].title%></a>
                    <p class="city"><%=ads[i].city%></p>
                    <p class="price"><%=ads[i].price%>€</p>
                </div>
                <%}%>
            </div>
            <a href="/deposer">Déposer une annonce</a>
            
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <% for (var i = 1; i <= count; i++) { %>
                <li class="page-item"><a class="page-link" href="?page=<%=i%>"><%=i%></a></li>  
            <%}%>
            <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                    </li>
                
                </ul>
            </nav>
        </div>   
    </section>
   
</body>
</html>