<% include partials/header.ejs %>
    
   
    <section class="container">
        <div class="">
        <a href="/deposer">Déposer une annonce</a>
        <% for (var i = 0; i < ads.length; i++) {%>
            <a href="/annonce/<%=ads[i].id%>"><%=ads[i].title%></a>
            <%=ads[i].city%>
            <%=ads[i].price%>
            <img src="/uploads/<%=ads[i].photo%>" alt="">
        <%}%>
    </section>
   
</body>
</html>